extends ../layouts/default

block content
  .container#single
    ol.breadcrumb#applyNow
      li: a(href="/") Home
      li(class="active") Application Terms
    h1 Application Terms
    p.
      To apply for this scholarship you must live in Los Alamos, or the surrounding Los Alamos Valley, be a senior in good standing at an accredited high school, and intend to further pursue your education at a 2 or 4-year college or university. The actual dispensation of funds will be made upon proof of enrollment.
    p.
      We are looking for students who have demonstrated a commitment to a cause or causes outside of themselves. By this we mean that the student has given of his/her time to serve interests in the common good, for example: helping to improve the environment through recycling, park cleanup, educating others; volunteering at a senior center, homeless shelter, community activity; participating in peer counseling, anti-bullying activities, or leadership training.
    p.
      Dan showed us that the causes of peace and justice are not served only on a big stage but are actually best served on small stages in many places. Simple acts of compassion and generosity can have far reaching implications. This is why we are not limiting candidacy to students who intend to pursue a degree in these fields. We are looking for students who have already demonstrated these qualities through action.
    p.
      You will find the on-line application here. Please look through it carefully and take the time to answer questions thoughtfully. Remember, we are looking for someone that we believe can be a leader in his/her community and who will show by example that peace and justice are attainable goals. Because this is a college scholarship we will be looking for articulate answers. In addition to the written responses we will also schedule a phone interview with each candidate. Don’t let this intimidate you we simply want to know you a little better.
    p.
      The Daniel B Dingman Scholarship for Peace and Justice is an academic award your family’s financial status will have no bearing on our decision.
  .col-sm-12#banner
    .arrow-down
    p.
      By clicking continue I am saying that I belive this scholarship is for me, and I am ready to apply.
    a(href="/application/form").btn.btn-success#applyNow Apply Now
