/* Utilities */
.amp {
  font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
  font-style: italic;
  font-weight: 400;
}
.arrow-down {
	position: relative;
	background: #FFF;
  z-index: 99;
  &:after, &:before {
    top: -11px;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  &:after {
    border-color: rgba(136, 183, 213, 0);
    border-top-color: #FFF;
    border-width: 11px;
    margin-left: -11px;
  }
  &:before {
    border-color: rgba(213, 213, 213, 0);
    border-top-color: #d5d5d5;
    border-width: 12px;
    margin-left: -12px;
  }
}
.loading {
  display: none;
}
.selectedQuestion {
  color: $gray;
  font-weight: 600;
}
a {
  &#showAll, &#showAllTwo {
    border-left: 2px solid;
    color: $gray-light;
    display: none;
    font-size: ($font-size-base - 2);
    font-weight: 800;
    letter-spacing: 1px;
    margin-left: 8px;
    padding-left: 4px;
    text-transform: uppercase;
  }
}
/* Begin page styling */
#header {
  .jumbotron {
    background: url('http://37.media.tumblr.com/10744cab3e8c4882fb64b6ae7f888a2f/tumblr_mrrad4hojD1st5lhmo1_1280.jpg');
    background-position: 0;
    background-size: cover;
    text-align: center;
    text-shadow: 0 2px 0 black;
  }
}
.col-sm-1 {
  color: $brand-success;
  font-size: 72px;
}
.container#single {
  margin-bottom: 30px;
  .btn {
    padding: 10px 20px;
  }
}
#quotes {
  display: inline-block;
  margin: 15px 0;
  padding: 10px 0;
  .author {
    color: darken($gray-light, 5%);
    font-size: $font-size-base;
    font-weight: 500;
    text-transform: uppercase;
  }
  .quote {
    font-family: $font-family-serif;
    font-size: ($font-size-base * 1.6);
    font-style: italic;
  }
}
.col-sm-12 {
  &#sponsors, &#banner {
    background: $gray-lighter;
    border-bottom: 1px solid $gray-darker;
    border-top: 1px solid darken($gray-lighter, 10%);
    margin-top: 30px;
    padding: 10px 0;
  }
  &#banner {
    clear: both;
    float: none;
    padding: 20px 0;
    text-align: center;
    & .arrow-down {
      top: -10px;
    }
  }
}
.col-sm-12#applyCTA {
  background: url('../images/scholar.png') bottom;
  background-size: cover;
  font-size: 52px;
  padding: 30px 0;
  text-align: center;
  @include box-shadow(rgba(0,0,0,0.7) 0 6px 8px inset);
  .btn {
    p {
      margin: 5px 20px;
    }
  }
  .col-xs-6 {
    text-align: right;
    &:last-child {
      text-align: left;
    }
  }
  .fa-stack {
    .fa-circle {
      @include opacity(0.9);
      @include transition-duration(0.25s);
    }
    &:hover {
      .fa-circle {
        @include opacity(1.0);
      }
    }
  }
  p {
    font-size: $font-size-base;
  }
  span.h4.alt {
    font-style: italic;
    position: relative;
    top: -5px;
    left: 5px;
  }
}
.banner {
  background-color: darken($brand-success, 5%);
  border-bottom: 1px solid darken($brand-success, 10%);
  border-top: 1px solid darken($brand-success, 10%);
  color: #FFF;
  clear: both;
  padding: 20px 0;
  text-align: center;
  h4 {
    margin: 0;
  }
}
.laf {
  background: lighten($beige, 34%);
  border-top: 1px solid lighten($beige, 20%);
  clear: both;
  padding-bottom: 30px;
  @include box-shadow(0 2px 0 white inset);
}
/*
** Application form
*/
*,
*:after,
*:before {
   box-sizing: border-box;
}
form {
  ul {
    padding: 0;
    li {
      list-style-type: none;
    }
  }
  input[type='radio'] {
    margin: 4px 4px 4px 0;
  }
  .alert.alert-info {
    h3 {
      margin-top: 0;
    }
    pre {
      background-color: lighten($gray-lighter, 5%);
      address {
        margin-bottom: 0;
      }
    }
  }
.alert.alert-info {
  $mail-blue:   #336699;
  $mail-red:    #cd3838;
  $mail-white:  #f9f9f9;
  position: relative;
  border: 0;
  &:before {
    @include box-sizing(border-box);
    z-index: -1;
    background: $brand-info;
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0px;
    right: 0;
    top: 0;
    border-radius: inherit;
    background-color: #adafb4;
    background-image: linear-gradient(to right,
      $mail-white 25%,
      $mail-red 25%,
      $mail-red 50%,
      $mail-white 50%,
      $mail-white 75%,
      $mail-blue 75%,
      $mail-blue );
    background-image: -webkit-linear-gradient(left,
      $mail-white 25%,
      $mail-red 25%,
      $mail-red 50%,
      $mail-white 50%,
      $mail-white 75%,
      $mail-blue 75%,
      $mail-blue );
    background-size: 90px 90px;
    @include box-shadow(0 0 0 1px darken($brand-info, 20%));
    }
  }
}
i#exclaim {
  float: left;
  font-size: 48px;
  margin-right: 8px;
}
.alert.alert-info {
  p {
    display: inline;
  }
}
#footer {
  background: url('../images/asfalt.png') repeat;
  background-color: $gray-darker;
  border-top: 1px solid $gray-darker;
  color: #FFF;
  padding: 30px 0 60px;
  a {
    color: $gray-lighter;
    font-family: $font-family-serif;
    @include transition-duration(0.25s);
    &:hover {
      color: lighten($gray-light, 10%);
    }
  }
  address {
    p {
      margin: 0;
    }
  }
  .col-md-10 {
    float: none;
    margin: 0 auto;
  }
  .nav-stacked {
    list-style-type: none;
    padding: 0;
  }
}
